@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
}
/* scroll */
::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;   
  } 
  ::-webkit-scrollbar-thumb {
    background: #e6e3e3;
    border-radius: 10px;
    border:2px solid grey;

  }
  ::-webkit-scrollbar-thumb:hover {
    background: #FAFAFA;
    
  }

html {
    scroll-behavior: smooth;
  }
body{
    background-image: url('../images/southgate.jpg');
    background-size: cover; 
    background-repeat: no-repeat;  
    overflow-x: hidden;
  
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      flex-direction: row-reverse;
      margin-right: 1em;
    }
  } 
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
      margin-right: 1em;
    }
  }
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.2rem;
    color:black !important;
    font-weight: 590;
  }
#main-title{
    font-size: 1.8rem;
    line-height: 1.313rem;
    font-weight: 900;
    margin-left: 2rem;
    font-weight: 550;
}
/* keyframes for title page */
@keyframes fadeintitle {
    from{
    position: relative; 
    top:10rem; 
    opacity: .1; 
    }
    to{
    position: relative;
    top:0;
    opacity: 1;
    }
}
.main-page-title{
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 85vh;
    color:#000000;
    text-shadow: 2px 2px 2px white;
    animation-name: fadeintitle;
    animation-duration: 2s;
    transition: .3s;
   
}
.main-page-title > h2{
    font-size:4.6rem;
    font-weight: bold;
}
.main-page-title > h6{
    font-size:2.1rem;
    font-weight: bold;
    position: relative;
    bottom:.8rem;
    
}
.main-page-title > button{
    padding:.3rem .9rem;
    border:none;
    background-color: #E0BB20;
    color:#000000;
    font-size:1.2rem;
    font-weight:600;
    position: relative;
    bottom: .7rem;
}
.main-page-title > button:hover{
    background-color: #841818;
    color:#FAFAFA;
}
@media screen and (max-width: 980px) and (min-width: 708px) {
    .main-page-title {
        /* height: 60vh; */
        position: relative;
        bottom:1.5rem;
    }
    .main-page-title h2{
        font-size:3.6rem;
    }
    .main-page-title h6{
        font-size:1.7rem;
    }
  }
@media screen and (max-width:709px) and (min-width:676px) {
    body{
        background-color: #000000;
        /* background-image: none; */
    }
    .main-page-title h2{
    font-size: 6.5vh;
    margin:0 1.2rem;
    position: relative;
    bottom:5rem;
    }
    .main-page-title h6{
    font-size: 5vh;
    margin:0 1.2rem;
    bottom:5rem;
 }
 .main-page-title button{
    bottom:4.5rem;
 }
}
@media screen and (max-width:675px) and (min-width:300px){
    .main-page-title h6{
        font-size:2.8vh;
       
       text-align: center;
    }
    .main-page-title > h2:nth-child(1) {
        font-size: 3.8vh;
         line-height: 1.4;
        
       }     
}

/* first page  */
section .first-page{
    width: 100%;
    background-color:white;
    position: absolute;
    top:55rem;
    height:100vh;  
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    
}
section .first-page .left-page{
    width:100%;
    padding-bottom: 2.5rem;
}
section .first-page .right-page{
    width:100%;
}
.button-brown{
    padding:.5rem .6rem;
    border:none;
    background-color: #E0BB20;
    color:#000000;
    font-size:1.2rem;
    font-weight:600;  
    text-align: center;
}
.first-page .right-page img{
    width:95%;
}
.first-page .right-page{
    display:grid;
    grid-template-rows: auto auto auto;
    margin-top: 2rem;
    gap:1.5rem;
}
.first-page .left-page h3{
    font-size: clamp(1.1rem, 7vw, 3.2rem);
}
.first-page .left-page h6{
    font-size: clamp(1rem, 2.2vw, 1.4rem);
}
@media screen and (max-width: 2500px) and (min-width: 820px){
    section .first-page{
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: center;  
    }
    .first-page .left-page{
        margin:0 1.2rem;
    }
    .first-page .right-page{
        grid-template-columns: auto auto;
    }
    .first-page .right-page .third-image img{
        /* grid-row:1 /7; */
        position: relative;
        bottom:18.2rem;
        width:16rem;
        left:4.5rem;
          
    }
    .first-page .right-page .second-image img{
        width:13rem;
        position: relative;
        right:2rem;
        height:300px;
        bottom:4rem;
        
    }
    .first-page .right-page .first-image img{
         position: relative;
         width:15rem;
         bottom:5rem;
         left:5rem;
    }
    .first-page .left-page h6{
        margin:0 2.9rem;
    }
   
}
/* Third Section */

section .second-page{
    background-color: #e6e3e3;
    position: absolute;
    width: 100%;
    top:140rem;
    height:140vh; 
    font-family: 'Rajdhani', sans-serif;
    display: grid;
    overflow-x: hidden;  
}
.second-page h1{
    text-align: center;
    padding:2.5rem;
}
.second-page .first-div{
    background-color: white;
    height:65vh;
    margin:1.5rem auto;
    position: relative;
   
}
.second-page .first-div h5{
    color:white;
    position: absolute;
    bottom:20.5rem;
    left:1rem;
}
.first-div .side-image p{
    width:clamp(15rem,18rem,20rem);
    margin:1.7rem 0;  
}
.first-div .side-image{
    margin-left:2rem;
}
.second-page .second-div{
    margin:1.1rem auto;
    position: relative;
}
.second-page .third-div{
    margin:1.1rem auto;
}
.second-page .text{
    display: flex;
    position: relative;
    bottom:2rem;
    color:white;
    
}
.second-page .text h5{
    position: absolute;
    margin-left:1.1rem;
}
.second-page .text button{
    background-color: #E0BB20;
    border:none;
    position: absolute;
    left:11rem;
    padding:0 .5rem;
}
.second-page .third-div .second-text{
    position: relative;
    bottom:2rem;
    color:white;
}
.second-page .third-div .second-text h5{
    position: absolute;
    margin-left:1.1rem;
}
.second-page .third-div .second-text button{
    position: absolute;
    background-color: #E0BB20;
    border:none;
    position: absolute;
    left:11rem;
    padding:0 .5rem;
}
/* media query for third page */
@media screen and (max-width: 1700px) and (min-width: 476px){
    section .second-page{
      top:80rem;  
      overflow-y: hidden;
      height:130vh;
      grid-template-columns: auto auto auto;
    }
    .second-page h1{
        position: relative;
        top:.8rem;
        margin-right:-55rem;
    }
    .second-page .first-div h5{
        bottom:19.8rem;
     
    }
    .second-page .first-div{
        background-color: white;
        height:78vh;
        margin:1.5rem auto;
        position: relative;
        top:8rem;
        right:11rem;
    }
    .second-page .second-div{
        position: relative;
        top:8.4rem;
        right:17rem;    
    }
    .second-page .third-div{
        position: relative;
        bottom:14.5rem;
        left:39.5rem;
    }
}
/* recent events */
section .third-page{
    background-color: #e6e3e3;
    width:100%;
    height: 120vh;
    position: absolute;
    top:135rem;
    font-family: 'Rajdhani', sans-serif;
}
.third-page .recent-events .item{
    width:25%;
    height:34rem;
    background-color: white;
}
.third-page .recent-events{
    width: 93%;
    background-color: #e6e3e3;
    margin:0 auto;
    position: relative;
    top:2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:3rem;
  
}
.recent-events .item img{
    width:100%;
    height:41%;
}
.recent-events .text{
    position: relative;
    margin-inline: 1.2rem;
    top:1.5rem; 
    line-height: 2.5rem;
}
.recent-events .text h3{
    color:#841818;
}
.button-no-bg{
    padding:0 .9rem;
    border:3px solid #E0BB20;
    background-color: transparent;
    margin-top:1.2rem;
}
.button-no-bg:hover{
    background-color: #E0BB20;
    color:white;
}
@media screen and (max-width: 800px) and (min-width: 176px){
    .third-page .recent-events{
        flex-direction: column;
    }
    .third-page .recent-events .item{
        width: 100%;
    }
    .recent-events .item img{
        max-width: 100%;
    }

}
/* footerrrrr */
footer{
    background-color: #c9c8c3;
    position:absolute;
    width:100%;
    height:47vh;
    top:185rem;
    padding-top: 5rem;
    font-family: 'Rajdhani', sans-serif;
}
#text-footer{
    text-align: center;
    font-family: 'Rubik';
    display: relative;
    padding-top:4rem;
    font-size:1.1rem;
    color:gray;
}
footer .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}
footer .footer .ft h4{
    font-size: 1.2rem;
    color:gray;
}
footer .footer .ft h3{
    font-size: 1rem;
}
footer .footer .ft input{
    padding:.2rem;
    border:#c9c8c3;
}
/* icons hover */
.fa-facebook-f:hover{
    color:#1877f2;
}
.fa-twitter:hover{
    color:dodgerblue;
}
.fa-instagram:hover{
    color:orangered;
}
.fa-envelope-open:hover{
    color:rgb(158, 60, 60);
}
.fa-youtube:hover{
    color:red;
}